#topImage {    
    display: none;
    }

h1 {
    margin: 60px 0 50px;
    text-align: center;
}

.faq-container {
    max-width: 80vw;
    margin: 0 auto;
}

h1, h2, .faqtext {
    margin-left: 4rem;
    margin-right: 4rem;
    line-height: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.faqtext, .notActive {
    display: none;
}

.active {
    display: block;
}

#MLogo {
    cursor: pointer;
    position: absolute;
    transform: translateY(-10px);
}

#MLogo:active {
    transform: scale(1.50);
}

/*Media queries*/
@media screen and (min-width: 320px) {
    #topImage {
        background: url("../images/maracons-s.jpg") no-repeat center;
        background-size: cover;
        height: 35%;
        width: 100%;
        display: block;
}
}

@media screen and (min-width: 768px) {
    #topImage {
        background: url("../images/maracons-s.jpg") no-repeat center;
        background-size: cover;
        height: 55%;
        width: 100%;
        display: block;
}
}

@media screen and (min-width: 1280px) {
    #topImage {
        background: url("../images/maracons-s.jpg") no-repeat center;
        background-size: cover;
        width: 100%;
        height: 75%;
        display: block;
}
}
          